body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #aaaaff;
}
#css {
    position: relative;
    width: 350px;
    height: 250px;
    background-color: #766aff;
    color: #fff;
}

#qd1 {
    position: relative;
    width: 20px;
    left: -193px;
    top: 34px;
}

#qd2 {
    position: relative;
    width: 20px;
    left: 193px;
}

#qd3 {
    position: relative;
    width: 20px;
    left: -194px;
}

#qd4 {
    position: relative;
    width: 20px;
    top: -34px;
    left: 194px;
}

#texto {
    text-shadow: 2px 2px white;
    color: #115794;
}

#dev {
    color: #fff;
    text-shadow: 1px 1px 15px #000;
}